<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Supprimer mon compte</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <div class="container">
  <h1>Supprimer mon compte</h1>
  <p>Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.</p>
  <form method="POST" action="{{ url_for('delete_account') }}">
    <button type="submit">Supprimer mon compte</button>
  </form>
  <a class="button" href="{{ url_for('index') }}">Annuler</a>
</div>
</body>
</html>
