<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
  <meta charset="UTF-8">
  <title>AntiCV - Accueil</title>
</head>

<body>
  <div class="container">
    <h1>Liste des AntiCV</h1>
    <ul>
      {% for p in profiles %}
      <li>
        <div class="cv-box" style="--cv-color: {{ p.color }};">
          <a href="{{ url_for('profile', id=p.id) }}">
            <span class="cv-content">{{ p.name }}</span>
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>Aucun profil pour l’instant.</p>
    {% endif %}

    <a class="button" href="{{ url_for('create') }}">Créer un AntiCV</a><br>
    <a class="button" href="{{ url_for('logout') }}">Déconnexion</a><br>
    <a class="button" href="{{ url_for('delete_account') }}">Supprimer mon compte</a><br>
    <a class="button" href="{{ url_for('reset') }}">Mot de passe oublié</a>
  </div>
</body>

</html>